@{
    ViewBag.Title = "BatchRegister";
}

<h2>BatchRegister</h2>

@using (Html.BeginForm("Index", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" })){
    <div>
        <label for="file">Fil:</label>
        <input type="file" name="file" id="file" /><br />
    </div>
    <div>
        @Html.RadioButton("Role", "Yes", false, new { style = "width:50px;"})Lärare
    </div>
    <div>
        @Html.RadioButton("Role", "Yes", true, new { style = "width:50px;"})Elev
    </div>
    <div>
        <input type="submit" name="submit" value="Generera" />
    </div>
}