@{
    ViewBag.Title = "Index";
}

<h2>Administrering</h2>

@Html.ActionLink("Lägg in nya användare", "Register", "Account")
<br/>
@Html.ActionLink("Se befintliga bokningar", "BookingHistory")
<br/>
@Html.ActionLink("Hantera grupprum", "Index", "Room")