@{
    ViewBag.Title = "Index";
}

<h2>Administrering</h2>
</br></br>

<ul class="bmenu">
<li>@Html.ActionLink("Hantera användare", "Index", "Account")</li>
<li>@Html.ActionLink("Se befintliga bokningar", "BookingHistory")</li>
<li>@Html.ActionLink("Hantera grupprum", "Index", "Room")</li>
</ul>