@model Salsbokningssystem.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Projektrum</legend>

    <div class="display-label">
        Namn:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         Information:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.info)
    </div>

    <div class="display-label">
         Antal platser:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capacity)
    </div>

    
</fieldset>
<p>
   
    @Html.ActionLink("Tillbaks till listan", "Index")
</p>
