@{
    ViewBag.Title = "Startsida";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Bla, bla, bla
            </p>
        </div>
    </section>
}
Här kan vi skriva info om systemet...
